.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* opacity: 100%; */
  transition: .3s;
}
.confirmMsg {
  opacity: 0;
  position: relative;
  color: green;
  margin:0;
  transition: 1s ease-in-out;
}
