@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.hpWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: #1bc2f9;
  height: 100%;
  width: 100%;
  justify-content: center;
}
h1 {
  color: white;
  font-weight: bold;
  font-family: 'Sriracha', cursive;
}
.hpInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  align-items: center;
  opacity: 1;
  transition: .5s;
}

@media only screen and (min-width: 768px) {
  .hpInputWrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    align-items: center;
    opacity: 1;
    transition: .5s;
  }
}

@media only screen and (min-width: 768px) {
  .hpWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}